# XQ mirror local build outputs
/build/
/install/
/output/
/CMakeFiles/
/CMakeCache.txt
cmake_install.cmake
*.o
*.obj
*.lo
*.la
*.a
*.so
*.so.*
*.dylib
*.dll
*.lib
*.pyd
*.gch
*.pyc
__pycache__/
*.tar
*.tar.gz
*.tar.xz
*.tgz
*.zip
